<table border="2">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Code</th>
    <th>Date Of Birth</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Type</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let obj of customers" >
    <td>{{obj.id}}</td>
    <td>{{obj.name}}</td>
    <td>{{obj.code}}</td>
    <td>{{obj.dOB}}</td>
    <td>{{obj.email}}</td>
    <td>{{obj.phoneNum}}</td>
    <td>{{obj.typeCustomer.name}}</td>
    <td>
      <button>Detail</button>
    </td>
    <td>
      <button>Delete</button>
    </td>
    <td>
      <button>Edit</button>
    </td>
  </tr>
  <a routerLink="/customer/create">Create</a>
</table>
