<div class="col-lg-12 text-center">
  <h3>PLEASE INPUT INFORMATION</h3>
</div>
<form class="row g-3" [formGroup]="slotForm" (ngSubmit)="update(id)">
  <input input type="text" formControlName="id" class="form-control" hidden>
  <div class="col-md-6">
    <label for="name" class="form-label">Code</label>
    <input input type="text" formControlName="code" class="form-control" id="name">
    <div class="row" style="color: red" *ngIf="slotForm.controls.code.hasError('required') && slotForm.controls.name.dirty">
      Name must not be empty
    </div>
    <div style="color: red;" *ngIf="slotForm.controls.code.hasError('pattern') && slotForm.controls.code.dirty">
      Code is CI-XXXX (X: 0-9)
    </div>
  </div>
  <div class="col-md-6">
    <label for="dOb" class="form-label">Date</label>
    <input type="date" formControlName="date" class="form-control" id="dOb">
    <p class="text-danger"></p>
  </div>
  <div class="col-md-6">
    <label for="salary" class="form-label">Amount</label>
    <input type="number" formControlName="amount" class="form-control" id="salary">
    <div style="color: red" *ngIf="slotForm.controls.amount.hasError('invalid') && slotForm.controls.amount.dirty">Amount must be greater than 0
    </div>
  </div>
  <div class="col-md-3">
    <label for="inputFilm"  class="form-label">Film</label>
    <select id="inputFilm" formControlName="film" [compareWith]="compareFn" class="form-select">
      <option selected [value]="null" disabled>Choose...</option>
      <option *ngFor="let filmObj of film" [ngValue]="filmObj">
        {{filmObj.name}}
      </option>
    </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-success text-white" *ngIf="slotForm.valid">Create</button>
  </div>
  <div class="col-12">
  </div>
</form>
