<div class="col-lg-12 text-center">
  <h3>SLOT LIST</h3>
    <a class="btn btn-success"  role="button" routerLink="/slot/create">Create</a>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Code</th>
    <th scope="col">Date</th>
    <th scope="col">Amount</th>
    <th scope="col">Film</th>
    <th scope="col" colspan="3" class="text-center">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let items of slot " >
    <td>{{items.id}}</td>
    <td>{{items.code}}</td>
    <td>{{items.date}}</td>
    <td>{{items.amount}}</td>
    <td>{{items.film.name}}</td>
    <td>
      <a class="btn btn-success" [routerLink]="['/slot/edit/',items.id]"  role="button">Edit</a>
    </td>
    <td>
      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="sendId(items.id)">Delete
      </button>
    </td>
    <td>
      <a class="btn btn-success" [routerLink]="['/slot/detail/',items.id]" role="button">Detail</a>
    </td>
  </tr>
  </tbody>
</table>

<!--<div class="row">-->
<!--  <pagination-controls (pageChange)="p = $event"></pagination-controls>-->
<!--</div>-->
<!--modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want to delete <span style="color: red">{{code}}</span> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteSlot(id)">Yes
        </button>
      </div>
    </div>
  </div>
</div>

