<nav class="navbar navbar-expand-lg navbar-light p-3 mb-2 bg-success text-white ">
  <div class="col-lg-1"></div>
  <div class="container-fluid col-lg-11 ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5 text-white">
        <li class="nav-item ms-1 me-4">
          <a class="nav-link active text-white" routerLink="" aria-current="page">Home</a>
        </li>
        <li class="nav-item dropdown mx-4">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Quản lý xe
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/car/list">Xem danh sách xe</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex me-3 mt-2">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
