<div class="col-lg-12 text-center">
  <h3>EMPLOYEE LIST</h3>
</div>
<!--<input type="text" [(ngModel)]="nameView1" (ngModelChange)="Search()" placeholder="Enter name to search">-->
<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Code</th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
    <th scope="col">Type</th>
    <th scope="col" colspan="3" class="text-center">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let items of products  | paginate: { itemsPerPage: 1, currentPage: p }" >
    <td>{{items.id}}</td>
    <td>{{items.name}}</td>
    <td>{{items.code}}</td>
    <td>{{items.description}}</td>
    <td>{{items.price}}</td>
    <td>{{items.type.name}}</td>
    <td>
      <a class="btn btn-success" [routerLink]="['/product/edit',items.id]" role="button">Edit</a>
    </td>
    <td>
      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="sendId(items.id)">Delete
      </button>
    </td>
    <td>
      <a class="btn btn-success" [routerLink]="['/product/detail',items.id]" role="button">Detail</a>
    </td>
  </tr>
  </tbody>
</table>
<div class="row">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<!--modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want to delete <span style="color: red">{{name}}</span> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteProduct(id)">Yes
        </button>
      </div>
    </div>
  </div>
</div>

