
  <div class="row">
    <div class="col-lg-3">
      <div class="card" style="width: 15rem; height: 15rem">
        <img src="/assets/image/ful.jpg" class="card-img-top" alt="Sufficiency">
        <div class="card-body">
          <h5 class="card-title">Sufficiency</h5>
          <p class="card-text">Information is always complete</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 15rem; height: 25rem">
        <img src="/assets/image/quick.png" class="card-img-top" alt="Quick">
        <div class="card-body">
          <h5 class="card-title">Quicks</h5>
          <p class="card-text">Look up information quickly</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 15rem; height: 25rem">
        <img src="/assets/image/AccuracyGDPR.png" class="card-img-top" alt="Accuracy">
        <div class="card-body">
          <h5 class="card-title">Accuracy</h5>
          <p class="card-text">Verified information</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 15rem; height: 25rem">
        <img src="/assets/image/security.png" class="card-img-top" alt="security">
        <div class="card-body">
          <h5 class="card-title">Security</h5>
          <p class="card-text">Information is absolutely protected</p>
        </div>
      </div>
    </div>
  </div>

