<div class="p-0 btn px-0 " style="width: 100%" >
  <ul class="list-group ">
    <li class="list-group-item bg-success text-white ">An item</li>
    <li class="list-group-item bg-success text-white">A second item</li>
    <li class="list-group-item bg-success text-white">A third item</li>
    <li class="list-group-item bg-success text-white">A fourth item</li>
    <li class="list-group-item bg-success text-white">A fifth one</li>
    <li class="list-group-item bg-success text-white">An item</li>
    <li class="list-group-item bg-success text-white">An item</li>
    <li class="list-group-item bg-success text-white">An item</li>
    <li class="list-group-item bg-success text-white">An item</li>
    <li class="list-group-item bg-success text-white">An item</li>
  </ul>
</div>
