<div class="col-lg-12 text-center">
  <h3>PLEASE INPUT INFORMATION</h3>
</div>
<form class="row g-3" [formGroup]="employeeForm" (ngSubmit)="create()">
  <div class="col-md-6">
    <label for="name" class="form-label">Name</label>
    <input input type="text" formControlName="name" class="form-control" id="name">
    <div class="row" style="color: red" *ngIf="employeeForm.controls.name.hasError('required') && employeeForm.controls.name.dirty">
      Name must not be empty
    </div>
  </div>
  <div class="col-md-6">
    <label for="dOb" class="form-label">Date Of Birth</label>
    <input type="date" formControlName="dOB" class="form-control" id="dOb">
    <p class="text-danger"></p>
  </div>
  <div class="col-md-6">
    <label for="idenNumber" class="form-label">Identity Number</label>
    <input type="text" formControlName="identityNum" class="form-control" id="idenNumber">
    <div style="color: red" *ngIf="employeeForm.controls.identityNum.hasError('required') && employeeForm.controls.identityNum.dirty">
      Identity must not be empty
    </div>
    <div style="color: red;" *ngIf="employeeForm.controls.identityNum.hasError('pattern') && employeeForm.controls.identityNum.dirty">
      Identity format follow XXXXXXXXX or XXXXXXXXXXXX (X: 0-9)
    </div>
  </div>
  <div class="col-md-6">
    <label for="salary" class="form-label">Salary</label>
    <input type="number" formControlName="salary" class="form-control" id="salary">
    <div style="color: red" *ngIf="employeeForm.controls.salary.hasError('invalid') && employeeForm.controls.salary.dirty">Salary must be greater than 0
    </div>
  </div>
  <div class="col-md-6">
    <label for="phoneNumber" class="form-label">Phone Number</label>
    <input type="text" formControlName="phoneNum" class="form-control" id="phoneNumber">
    <div style="color: red" *ngIf="employeeForm.controls.phoneNum.hasError('pattern') && employeeForm.controls.phoneNum.dirty">
      Phone Number format follow 090xxxxxxx or 091xxxxxxx or (84)+90xxxxxxx or (84)+91xxxxxxx
    </div>
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="text" formControlName="email" class="form-control" id="email">
    <div style="color: red" *ngIf="employeeForm.controls.email.hasError('email') && employeeForm.controls.email.dirty">
      Email not required format
    </div>
  </div>
  <div class="col-md-6">
    <label for="address" class="form-label">Address</label>
    <input type="text" formControlName="address" class="form-control" id="address">
    <p class="text-danger"></p>
    <div style="color: red" *ngIf="employeeForm.controls.address.hasError('required') && employeeForm.controls.address.dirty">
      Address must not be empty
    </div>
  </div>
  <div class="col-md-3">
    <label for="inputDivision" class="form-label">Division</label>
    <select id="inputDivision" formControlName="division"  class="form-select">
      <option selected [value]="null" disabled>Choose...</option>
      <option *ngFor="let divisionObj of division" [ngValue]="divisionObj" >
        {{divisionObj.name}}
      </option>
    </select>
  </div>
  <div class="col-md-3">
    <label for="inputDegree"  class="form-label">Degree</label>
    <select id="inputDegree" formControlName="degree"  class="form-select">
      <option selected [value]="null" disabled>Choose...</option>
      <option *ngFor="let degreeObj of degree" [ngValue]="degreeObj" >
        {{degreeObj.name}}
      </option>
    </select>
  </div>
  <div class="col-md-3">
    <label for="inputPosition" class="form-label">Position</label>
    <select id="inputPosition" formControlName="position"  class="form-select">
      <option selected [value]="null" disabled>Choose...</option>
      <option *ngFor="let positionObj of position" [ngValue]="positionObj" >
        {{positionObj.name}}
      </option>
    </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-success text-white" *ngIf="employeeForm.valid">Create</button>
  </div>
  <div class="col-12">
  </div>
</form>
